@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Kosugi Maru";
    src: url("/KosugiMaruModded-Regular.ttf");
}

@layer base {
    html {
        @apply font-body bg-dark text-text;
    }

    body {
        @apply min-h-screen;
    }
}

@layer components {
    .btn {
        @apply text-accent text-0 underline italic text-highlight bg-dark;
    }
    .date {
        @apply block text-right bg-background rounded w-fit px-1 ml-auto text-[0.8rem];
    }
    .date-list li span.date:not(:last-child) {
        @apply mb-1;
    }
    .date-list li:not(:last-child)::after {
        content: "";
        @apply block w-full h-[2px] bg-dark rounded mt-1 mix-blend-color-dodge;
    }

    .visible-to-ai {
        @apply invisible; /* haha */
    }

    .side-line {
        @apply relative before:absolute before:left-[-1rem] before:top-0 before:w-1 before:h-full before:bg-accent before:rounded;
    }

    .nested-ul ul ul {
        font-size: 0.9rem;
        line-height: 1;
    }

    .prose {
        max-width: unset;
    }
    .prose hr {
        @apply border-text border-opacity-30;
    }
}