---
import "@fontsource/jetbrains-mono";
import "../application.tailwind.css";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />{/*
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />*/}
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<script>
			import { inject } from '@vercel/analytics';
			inject();
		</script>
		<main class="w-[1060px] px-5 pt-5 max-w-full mx-auto">
			<slot />
		</main>
	</body>
</html>